@media(max-width: 411px){
    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
    }
    
    .cont{
        width: 100% !important;
        position: static;
        overflow: hidden;
    }

    img{
        max-width: 100%;
    }

    .cont{
        margin: 0px;
        background-color: white;
        display: grid;
        grid-gap: 0.3em;
        grid-auto-rows: (100px, auto);
        grid-template-columns: 1fr;
        grid-template-areas:
        'box1'
        'box2'
        'box3'
        'box4'
        'box5'
        'box6'
    }
    
    .box1{
        font-size: 11px;
        margin-right: 280px;
        grid-area: box1;
       
        background-color: black;
    }
    
    .box2{
        grid-area: box2;
 
    }
    

         .slidingimg{
            margin: 5px; 
            display: grid;
            grid-template-columns: repeat(11, 1fr);
            grid-gap: 0.5em; 
            border: 1px solid black;
         }
            
            .fornew {
                width: 80px;
                height: 25px;
                text-decoration: none;
                display: inline-block;
                padding: 8px 16px;
                margin-left: 300px;
            }
            
            .fornew:hover {
                background-color: #ddd;
                color: black;
            }
            
            .previous {
                background-color: #f1f1f1;
                color: black;
            }
            
            .next {
                background-color: #4CAF50;
                color: white;
                margin-left: 20px;
            }
            
            .lspages{
                background-color: #3b5998;
                text-decoration: none;
                display: inline-block;
                padding: 8px 16px;
                margin-left: 20px;
                height: 25px;
            }
            

            .box2{
                padding-left: 10px;
                padding-right: 10px;
                 height: 110px;
             }
           
             .box2 > div{
                 margin-left: -18px;
                 margin-right: 70px;
                 padding-left: 10px;
             }
               
               .topper > div img{
                     height: 90px;
                     width: 69.5px;
               }
        
        .slidingimg > div{
            background-color: gray;
            color: blue;
            text-align: center;
            padding: 2px;
            cursor: pointer;
            display: inline;
            margin: 2px;
        }
        
        .slidingimg a{
            color: maroon;
        }
        

        .slidingimg > div img{
            height: 90px;
            width: 70px;
        }
    
    
    .box3{
        grid-auto-rows: 100px;
        grid-area: box3;
        width: 550px;
    
    }

    .wrapper img{
        height: 195px;
    }

    .wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 220px ;
        height: 470px;
        width: 385px;
    }

    .wrapper div{
        margin: 0px;
    }

    .geners1{
        font-size: 12px;
    }

    .geners1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5em;
        margin: 30px;
        display: none;
    }
    
    .geners1 > div{
       width: 100px;
    }
    

    #onit{
        margin-right: 130px;
    }

    .news > div{
        width: 390px;
    }
    
    .box4{
        grid-area: box4;
        width: 410px;
    }

    .box4 p{
        margin-right: 5px;
    }

    #comp{
        margin-left: 60px;
       margin-right: 950px;
        height: 140px;
    }

    .box4 > div img{
        margin-left: 50px;
    }
  
    .box4 > div video{
        margin-left: 50px;
    }
    
    #yourceleb{
       font-size: 17px;
    }
  
    .box4 button{
        margin-left: 100px;
       margin-right: 100px;
      
    }

    .indisplay{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        width: 400px;
    }
    
    .indisplay > div{
        margin: 10px;
        width: 185px;
    }

    .box5 h3{
        margin-left: 160px;
    }

    .box5 p{
        margin-right: 400px;
    }
  

   .heading{
       display: none;
   }

   

   .tit{
       margin-right: 154px;
       font-size: 20px;
   }

   .nav{
    padding: 7px;
   margin-left: 0px;
   display: block;
   width: 60%;
}

.nav img{
   margin-right: 450px;
   width: 60px;
}

#nav-icon{
   right: 83%;
   font-size: 30px;
}


.item{
   margin-right: 340px;
   margin-left: 20px;
   text-align: left;
 }
 
 
 .nav ul li{
   margin-left: 10px;
   height: 20px;
   font-size: 15px;
   width: 70px;
 }
 
 .nav input { 
     border-radius: 5px;
     height: 0.3px;
     width: 190px;
     padding-right: 20px;
 }

 .nav .form-control{
   margin-left: 31%;
   font-size: 11px;
   height: 20px;
   margin-top: 3px;
}
 
 .nav .fa-search{
     padding: 3.5px;
     left: 278.5px;
     top: 14.7px;
 }


.heading{
    position: absolute;
    display: none;
    margin-left: 800px;
}

.heading img{
    display: none;
}

.heading > div{
    display: block;
    text-align: center;
  
}

.heading > div a{
  padding: 5px;
  float: left;
  font-size: 13px;
}



.about .geners .services .countries .home{
    display: none;
}


.cont2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}

.cont2 h5{
    margin-right: 360px;
}

.cont2 p{
    margin-right: 360px;
}

.cont2 hr{
    width: 20%;
    margin-left: 130px;
}

.linkson{
    padding: 0px;
    font-size: 25px;
    margin-left: 55px;

}

.social a{
    margin: 15px;
}

.down p{
    margin-right: 350px;
}

   
.fornew {
    font-size: 13px;
    width: 60px;
    height: 20px;
    margin-left: 26px;
}


.next {
    margin-left: 8px;
}

.lspages{
    margin-left: 8px;
    height: 21px;
}

#myBtn{
    display: block;
    padding: 5px;
    font-size: 15px;
}

}

@media(max-width: 360px){
    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
    }
    
    .cont{
        width: 100% !important;
        position: static;
        overflow: hidden;
    }

    img{
        max-width: 100%;
    }

    .cont{
        margin: 0px;
        background-color: white;
        display: grid;
        grid-gap: 0.3em;
        grid-auto-rows: (100px, auto);
        grid-template-columns: 1fr;
        grid-template-areas:
        'box1'
        'box2'
        'box3'
        'box4'
        'box5'
        'box6'
    }
    
    .box1{
        font-size: 11px;
        margin-right: 280px;
        grid-area: box1;
        background-color: black;
    }
    
    .box2{
        grid-area: box2;
        
 
    }
       
    .box2 > div{
             margin-left: 5px;
             margin-right: 0px;
             padding-left: 0px;
         }

         .slidingimg{
            margin: 5px; 
            display: grid;
            grid-template-columns: repeat(11, 1fr);
            grid-gap: 0.5em; 
            border: 1px solid black;
            color: white;
        }

       
       

        
        .slidingimg > div{
            background-color: gray;
            color: blue;
            text-align: center;
            padding: 2px;
            cursor: pointer;
            display: inline;
            margin: 2px;
        }
        
        .slidingimg a{
            color: maroon;
        }
        

        .slidingimg > div img{
            height: 80px;
            width: 60px;
        }
    

        .box2{
            padding-left: 10px;
            padding-right: 10px;
             height: 110px;
         }
       
         .box2 > div{
             margin-left: -18px;
             margin-right: 50px;
             padding-left: 10px;
         }
           
           .topper > div img{
                 height: 85px;
                 width: 61px;
           }
    
    .box3{
        grid-auto-rows: 100px;
        grid-area: box3;
        width: 500px;
    
    }

    .wrapper img{
        height: 160px;
    }

    .wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 185px;
        height: 395px;
        width: 340px;
    }

    .geners1{
        font-size: 12px;
    }

    .geners1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5em;
        margin: 30px;
        display: none;
    }
    
    .geners1 > div{
       width: 100px;
    }

    #onit{
        margin-right: 140px;
    }

    .news > div{
        width: 340px;
    }
    
    .box4{
        grid-area: box4;
        width: 362px;
    }

    .box4 p{
        margin-right: 15px;
    }

    #comp{
        margin-left: 35px;
       margin-right: 950px;
        height: 140px;
    }

    .box4 > div img{
        margin-left: 30px;
    }
  
    .box4 > div video{
        margin-left: 30px;
    }
    
    #yourceleb{
       font-size: 17px;
    }
  
    .box4 button{
        margin-left: 80px;
       margin-right: 80px;
      
    }

    .indisplay{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        width: 350px;
    }
    
    .indisplay > div{
        margin: 10px;
        width: 160px;
    }

    .box5 h3{
        margin-left: 130px;
    }

    .box5 p{
        margin-right: 150px;
    }
  

   .heading{
       display: none;
   }


   .tit{
       margin-left: 11px;
       margin-right: 150px;
       font-size: 15px;
       padding: 5px;
   }



/* .multi-level{
    margin-right: 100px;
} */

.heading{
    position: absolute;
    display: none;
    margin-left: 800px;
}

.heading img{
    display: none;
}

.heading > div{
    display: block;
    text-align: center;
  
}

.heading > div a{
  padding: 5px;
  float: left;
  font-size: 13px;
}



.about .geners .services .countries .home{
    display: none;
}

.nav{
    padding: 7px;
   margin-left: 0px;
   display: block;
   width: 60%;
}

.nav img{
   margin-right: 410px;
   width: 60px;
}

#nav-icon{
   right: 82%;
   font-size: 28px;
}


.item{
   margin-right: 290px;
   margin-left: 20px;
   text-align: left;
 }
 
 
 .nav ul li{
   margin-left: 10px;
   height: 20px;
   font-size: 15px;
   width: 70px;
 }
 
 .nav input { 
     border-radius: 5px;
     height: 0.3px;
     width: 180px;
     padding-right: 20px;
 }

 .nav .form-control{
   margin-left: 29%;
   font-size: 11px;
   height: 20px;
   margin-top: 3px;
}
 
 .nav .fa-search{
     padding: 3.5px;
     left: 259.4px;
     
 }

.cont2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}

.cont2 h5{
    margin-right: 355px;
}

.cont2 p{
    margin-right: 355px;
}

.cont2 hr{
    width: 17%;
    margin-left: 120px;
}

.linkson{
    padding: 0;
    font-size: 25px;
    margin-left: 45px;

}

.social a{
    margin: 12px;
}

.down p{
    margin-right: 345px;
}

.fornew {
    font-size: 11px;
    width: 47px;
    height: 9px;
    margin-left: 22px;
    padding: 11px 16px;
}


.next {
    margin-left: 5px;
}

.lspages{
    margin-left: 5px;
    height: 15px;
}

#myBtn{
    padding: 3px;
    font-size: 15px;
}

}