@media(max-width: 411px){
    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
    }
    
    .cont{
        width: 100% !important;
        position: static;
        overflow: hidden;
    }

    img{
        max-width: 100%;
    }

    .cont{
        /* margin: 3px; */
        background-color: white;
        display: grid;
        grid-gap: 0.3em;
        grid-auto-rows: (100px, auto);
        grid-template-columns: 1fr;
        grid-template-areas:
        'box1'
        'box2'
        'box4'
        'box3'
        'box5'
        'box6'
    }
    
    .box1{
        font-size: 11px;
        margin-right: 280px;
        grid-area: box1;
       
        background-color: black;
    }
    
    .box2{
        grid-area: box2;
        height: 100px;
 
    }
       
    .box2 > div{
             margin-left: 5px;
             margin-right: 0px;
             padding-left: 0px;
         }

         .topper > div img{
            height: 85px;
            width: 73.5px;
      }
  
    
    
    .box3{
        grid-area: box3;
        width: 410px;
    }

    .box3 img{
        margin-left: 50px;
    }
    
    .box4{
        grid-area: box4;
        width: 700px;
        
        /* padding-right: 2000px; */
    }

    .content{    
        font-size: 17px;
        margin-right: 290px;
    }

    .desc{
        margin-right: 290px;
    }

    .interwrap{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: (100px, auto);
        grid-template-areas:  
        'box22'
        'box11'
        'box33'
        'box44'
    }

    .box11{
        grid-area: box11;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 400px;
    }

    
    .box22{
        grid-area: box22;
        width: 400px;
        display: block;
        text-align: center;
        background-color: beige;
    }
    
    .box33{
        grid-area: box33;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 400px;
    }
    
    .box44{
        grid-area: box44;
    }
    
    
    .box5{
        grid-area: box5;
        width: 410px;
    }

    .box5 img{
        margin-left: 50px;
    }
    
    .box6{
        grid-area: box6;
    }
    
    .box1 img{
        width: 30px;
        height: 30px;
    }

    .indisplay{
        display: none;
    }

    .movietitle{
        color: blue;
    }
  
    .plot{
        padding: 15px;
        color: black;
        border: solid 2px brown;
    }
  
    .cstpc{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0em;
      margin-left: 20px;
  }

  .serve{
      display: none;
  }

  .wrapper{
      display: none;
  }
  
  .box22 h5{
      margin: 0px;
      font-size: 50px;
  }
  
  .box22 h4{
      border: solid 2px brown;
      margin-right: 250px;
      padding: 15px;
  }
  
  .box22 h3{
     color: black;
  }
  
  .box22 h2{
      color: green;
   }
  
  #castpics{
      border: solid 2px black;
      width: 190px;
      height: 210px;
  }

  #castpics{
    height: 120px;
    width: 100px;
}


.box22 h4{
    margin-right: 0px;
}

.box22 p{
    margin-right: 0px;
}

.box22 h2{
    font-size: 20px;
 }

 .cstpc{
     margin-left: 20px;
 }

 .cstpc h5{
     font-size: 15px;
 }

.cach{
   margin-right: 300px;
 }

 .content{
    font-size: 25px;
    color: green;
    margin-left: 10px;
 }

 .box6 h3{
    margin-left: 160px;
    font-size: 18px;
 } 

 .box6 p{
     font-size: 17px;
     margin-right: 350px;
 }

 .nav{
     padding: 7px;
    margin-left: 0px;
    display: block;
    width: 60%;
}

.nav img{
    margin-right: 470px;
    width: 60px;
}

#nav-icon{
    
    font-size: 37px;
}

.heading{
    position: absolute;
    display: none;
    margin-left: 800px;
}

.heading img{
    display: none;
}

.heading > div{
    display: block;
    text-align: center;
  
}

.heading > div a{
  padding: 5px;
  float: left;
  font-size: 13px;
}

.active{
    display: block;
}

.about .geners .services .countries .home{
    display: none;
}

.nav{
    padding: 7px;
   margin-left: 0px;
   display: block;
   width: 60%;
}

.nav img{
   margin-right: 470px;
   width: 60px;
  
}

#nav-icon{
   right: 83%;
   font-size: 30px;
}


.item{
   margin-right: 340px;
   margin-left: 20px;
   text-align: left;
 }
 
 
 .nav ul li{
   margin-left: 14px;
   height: 20px;
   font-size: 15px;
   width: 70px;
 }
 
 .nav input { 
     border-radius: 5px;
     height: 0.3px;
     width: 190px;
     padding-right: 20px;
 }

 .nav .form-control{
   margin-left: 33%;
   font-size: 11px;
   height: 20px;
   margin-top: 3px;
}
 
 .nav .fa-search{
     padding: 3.5px;
     left: 288.5px;
     top: 14.7px;
 }


.cont2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}

.cont2 h5{
    margin-right: 365px;
}

.cont2 hr{
    width: 15%;
    margin-left: 150px;
}

.linkson{
    padding: 0;
    font-size: 25px;
    margin-left: 45px;

}

.social a{
    margin: 17px;
}

#myBtn{
    display: block;
    padding: 5px;
    font-size: 15px;
}

/* .multi-level{
    margin-left: 100px;
} */


}

@media(max-width: 360px){
    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
    }
    
    .cont{
        width: 100% !important;
        position: static;
        overflow: hidden;
    }

    img{
        max-width: 100%;
    }

    .cont{
        margin: 0px;
        background-color: white;
        display: grid;
        grid-gap: 0.3em;
        grid-auto-rows: (100px, auto);
        grid-template-columns: 1fr;
        grid-template-areas:
        'box1'
        'box2'
        'box4'
        'box3'
        'box5'
        'box6'
    }
    
    .box1{
        margin: 0px;
        font-size: 11px;
        margin-right: 300px;
        grid-area: box1;
       
        background-color: black;
    }
    
    .box2{
        grid-area: box2;
        height: 100px;
 
    }
       
    .box2 > div{
             margin-left: 0px;
             margin-right: 0px;
             padding-left: 0px;
         }

         .topper > div img{
            height: 75px;
            width: 64px;
      }
  
    
    
    .box3{
        grid-area: box3;
        width: 360px;
    }

    .box3 img{
        margin-left: 20px;
    }
    
    .box4{
        grid-area: box4;
        width: 650px;
        
        /* padding-right: 2000px; */
    }

    .desc{
        margin-right: 280px;
    }


    .box22{
        width: 340px;
        margin-left: 10px;
        margin-right: 300px;
    }

    .box11{
        width: 350px;
        height: 120px;
    }

    .box33{
        grid-auto-rows: 120px;
        width: 350px;
        height: 120px;
    }

    .box11 img{
        height: 120px;
    }
    
    .box33 img{
        height: 120px;
    }

    
    .box5{
        grid-area: box5;
        width: 360px;
    }

    .box5 img{
        margin-left: 20px;
    }
    
    .box6{
        grid-area: box6;
    }
    
    .box1 img{
        width: 30px;
        height: 30px;
    }

    .indisplay{
        display: none;
    }

    .movietitle{
        color: blue;
    }
  
    .plot{
        padding: 15px;
        color: black;
        border: solid 2px brown;
    }
  
    .cstpc{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 0em;
      margin-left: 20px;
  }
  
  .box22 h5{
      margin: 0px;
      font-size: 50px;
  }
  
  .box22 h4{
      border: solid 2px brown;
      margin-right: 250px;
      padding: 15px;
  }
  
  .box22 h3{
     color: black;
  }
  
  .box22 h2{
      color: green;
   }
  
  #castpics{
      border: solid 2px black;
      width: 190px;
      height: 210px;
  }

  #castpics{
    height: 120px;
    width: 100px;
}


.box22 h4{
    margin-right: 0px;
}

.box22 p{
    margin-right: 0px;
}

.box22 h2{
    font-size: 20px;
 }

 .cstpc{
     margin-left: 20px;
 }

 .cstpc h5{
     font-size: 15px;
 }

.cach{
   margin-right: 300px;
 }

 .content{
    font-size: 25px;
    color: green;
    margin-left: 10px;
 }

 .box6 h3{
    margin-left: 140px;
    font-size: 18px;
 } 

 .box6 p{
     font-size: 17px;
     margin-right: 400px;
 }

 .nav{
    padding: 7px;
   margin-left: 0px;
   display: block;
   width: 60%;
}

.nav img{
   margin-right: 410px;
   width: 60px;
}

#nav-icon{
   right: 82%;
   font-size: 28px;
}


.item{
   margin-right: 290px;
   margin-left: 20px;
   text-align: left;
 }
 
 
 .nav ul li{
   margin-left: 14px;
   height: 20px;
   font-size: 15px;
   width: 70px;
 }
 
 .nav input { 
     border-radius: 5px;
     height: 0.3px;
     width: 180px;
     padding-right: 20px;
 }

 .nav .form-control{
   margin-left: 29%;
   font-size: 11px;
   height: 20px;
   margin-top: 3px;
}
 
 .nav .fa-search{
     padding: 3.5px;
     left: 259.4px;

 }


.heading{
    position: absolute;
    display: none;
    margin-left: 800px;
}

.heading img{
    display: none;
}

.heading > div{
    display: block;
    text-align: center;
  
}

.heading > div a{
  padding: 5px;
  float: left;
  font-size: 13px;
}


.about .geners .services .countries .home{
    display: none;
}


.cont2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}

.cont2 h5{
    margin-right: 370px;
}

.cont2 p{
    margin-right: 370px;
}

.cont2 hr{
    width: 17%;
    margin-left: 120px;
}

.linkson{
    padding: 0;
    font-size: 25px;
    margin-left: 50px;

}

.social a{
    margin: 12px;
}

.down p{
    margin-right: 370px;
}

#myBtn{
    padding: 3px;
    font-size: 15px;
}

/* .multi-level{
    margin-left: 100px;
} */


}
