@media(max-width: 411px){
    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
    }
    
    .cont{
        width: 100% !important;
        position: static;
        overflow: hidden;
    }

    img{
        max-width: 100%;
    }

    .cont{
        margin: 0px;
        background-color: white;
        display: grid;
        grid-gap: 0.3em;
        grid-auto-rows: (100px, auto);
        grid-template-columns: 1fr;
        grid-template-areas:
        'box1'
        'box2'
        'box4'
        'box3'
        'box5'
        'box6'
    }
    
    .box1{
        font-size: 11px;
        margin-right: 280px;
        grid-area: box1;
       
        background-color: black;
    }
    
    .box2{
        grid-area: box2;
        height: 200px;
 
    }
       
    .box2 > div{
             margin-left: 5px;
             margin-right: 0px;
             padding-left: 0px;
         }

        
    
    
    .box3{
        grid-area: box3;
        width: 410px;
    }

    .box3 img{
        margin-left: 50px;
    }
    
    .box4{
        grid-area: box4;
        width: 700px;
        
        /* padding-right: 2000px; */
    }

   .heading{
       display: none;
   }

   .topper{
       display: none;
       font-size: 11px;
       
   }

   .topper > div{
    margin-right: 70px;
   }

   

}

@media(max-width: 360px){
    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
    }
    
    .cont{
        width: 100% !important;
        position: static;
        overflow: hidden;
    }

    img{
        max-width: 100%;
    }

    .cont{
        margin: 0px;
        background-color: white;
        display: grid;
        grid-gap: 0.3em;
        grid-auto-rows: (100px, auto);
        grid-template-columns: 1fr;
        grid-template-areas:
        'box1'
        'box2'
        'box4'
        'box3'
        'box5'
        'box6'
    }
    
    .box1{
        margin: 0px;
        font-size: 11px;
        margin-right: 300px;
        grid-area: box1;
       
        background-color: black;
    }
    
    .box2{
        grid-area: box2;
        height: 100px;
    }
       
    .box2 > div{
             margin-left: 0px;
             margin-right: 0px;
             padding-left: 0px;
         }

         .topper > div img{
            height: 75px;
            width: 64px;
      }
  
    
    
    .box3{
        grid-area: box3;
        width: 360px;
    }

    .box3 img{
        margin-left: 20px;
    }
    
    .box4{
        grid-area: box4;
        width: 650px;
        
        /* padding-right: 2000px; */
    }

   
}