@media(max-width: 1024px){

    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
    }
    
    .cont{
        width: 100% !important;
        position: static;
        overflow: hidden;
    }

    p{
        font-size: 5px;
    }

    .tap{
        margin-left:auto;
        margin-right:auto;
        width:100%;
     
    }

    img{
        max-width: 100%;
    }

    .wrapper{
        grid-auto-rows: 250px;
        margin-left: 215px;
        margin-right: -140px;
       }

       .wrapper > div{
          background-color: lightseagreen;
          
          margin-left: -180px;
          width: 100%;
       } 
    
       
        .wrapper img{
            height: 215px;
            width: 100%;
          
        }

    .box2{
            padding-left: 295px;
            padding-right: 100px;
             height: 165px;
             background-color:black;
         }

    .box2 > div{     
        margin-left: -260px;
        margin-right: 0px;
       
    }
        
        .topper > div img{
            height: 150px;
            width: 110px;
        }

    
    .cont{
       
        grid-gap: 0%;
        justify-content: center;
        width: 100%;
        grid-auto-rows: (100px, auto);
        grid-template-columns:1fr;
        grid-template-areas:
        'box1'
        'box2'
        'box3 '
        'box4'
        'box5'
    }

    .box1{
        margin: 0%;
    }


    .onvd h3{
      margin-left: 80px;
    }

    .onvd{
      margin-left: 180px;
      margin-right: 180px;
      padding-left: 15px;
    }

    #defin{
     font-size: 17px;
      margin-left: 1px;
      margin-right: 15px;
      padding-left: 15px;
    }

    .intitle{
        font-size: 11px;
    }

    .intype1{
        font-size: 14px;
        margin-left: 80px;
        bottom: 47px;
        height: 22px;
    }

    .intype{
        font-size: 11px;
        bottom: 47px;
        height: 20px;
    } 
  

    ul{
        width: 100%;
       
    }

    ul li{
        text-align: center;
    }
   

    video{
        max-width: 100%;
    }

   
   
  .indisplay > div{
       
      display: none;
  }


    .displaypic{
        height: 110px;
        width: 100%;
    }

    .news > div{
       
        background-color: black;
    }
  

    .news > div img{
        padding: 3px;
      margin-left: 80px;
    }

    .box4 > div video{
        padding: 20px;
      margin-left: 80px;
      width: 800px;
      height: 500px;
    }

    .box4 img{
        width: 800px;
        height: 300px;
    }

    .box4 .newspic{
        height: 550px;
    }

  
  .box3 h4{
      margin-left: 40px;
      font-size: 30px;
  }

  .box3 p{
     font-size: 28px;
    margin-left: 20px;
    margin-right: 100px;
    padding-left: 15px;
  }

  
  .box5 h3{
     margin-left: 670px;
     font-size: 22px;
  } 

  .box5 p{
      font-size: 30px;
  }

  .tit{
      font-size: 20px;
      padding: 7px;
    margin-left: 35px;
    margin-right: 39px;
  }


  
  #lstp{
      font-size: 25px;
      margin-left: 20px;
      margin-right: 100px;
      padding-left: 15px;

  }

  #uptp{
      font-size: 25px;
      margin-left: 10px;
      margin-right: 100px;
      padding-left: 15px;

  }

  #dstp{
      color: white;
      font-size: 25px;
      margin-left: 10px;
      margin-right: 100px;
      padding-left: 20px;

  }

  .clbm{
    margin-left: 90px;
    margin-right: 90px;
      font-size: 28px;
  }

  .box4 h3{
      font-size: 32px;
      margin-left: 400px;
  }


  #adv{
      margin-left: 100px;
  }
 
  #comp{
      margin-left: 140px;
      margin-right: 140px;
      height: 200px;
      width: 700px;
  }

  
  
  #yourceleb{
      margin-left: 200px;
     margin-right: 200px;
     font-size: 30px;
  }

  .box4 button{
      font-size: 17px;
      margin-left: 250px;
     margin-right: 250px;
  }

  .box1{
    height: 100px;
}

.nav{
  display: block;
  height: 70px;
}


.item{
margin-left: 30.4px;
margin-right: 300px;
text-align: left;
width: 180px;
font-size: 20px;

}

.nav .item a{
  font-size: 18px;
  margin-left: 5px;
}


.item ul li{
margin-left: -15px;
font-size: 20px;
width: 150px;
}


.nav input { 
  border-radius: 5px;
  height: 0.3px;
  width: 400px;
  padding-right: 20px;
}

.nav .form-control{
  margin-left: 60%;
  font-size: 20px;
  height: 45px;
  top: -20px;
}

.nav .fa-search{
  font-size: 30px;
  padding: 3.5px;
  left: 690px;
  top: 20px;
}

#nav-icon{
  font-size: 50px;
  margin-left: -310px;
  top: -110px;
  color: white;
}

.nav img{
  margin-right: -480px;
  width: 100px;
  height: 50px;
  top: -50px;
}

.heading{
 margin-left: 180px;
  margin-right: 175px;
  display: none;
  font-size: 13px;
}


.heading > div{
  text-align: center;
  display: none;
}

.heading > div a{
padding: 3px;
display: none;
}

.heading img{
  display: none;
}


.active{
    display: none;
}

.about .geners .services .countries .home{
    display: none;
}


.cont2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}

.cont2 h5{
    font-size: 30px;
}

.cont2 hr{
    width: 35%;
    margin-left: 330px;
}

.linkson{
    margin-left: 20px;
}

.social a{
    margin: 60px;  
    font-size: 60px;
}

#myBtn{
    display: block;
    padding: 5px;
    font-size: 20px;
}

.down > div p{
    padding: 15px;
}

}


@media(max-width: 768px){

    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
    }
    
    .cont{
        width: 100% !important;
        position: static;
        overflow: hidden;
    }

    p{
        font-size: 5px;
    }

    .tap{
        margin-left:auto;
        margin-right:auto;
        width:100%;
     
    }

    img{
        max-width: 100%;
    }

    .wrapper{
        grid-auto-rows: 180px;
        margin-left: 215px;
        margin-right: 185px;
       }

       .wrapper > div{
          background-color: lightseagreen;
          margin-right: 8px;
          margin-left: -8px;
          width: 100%;
       } 
    
       
        .wrapper img{
            height: 150px;
            width: 100%;
          
        }

    .box2{
            padding-left: 295px;
            padding-right: 100px;
             height: 130px;
             background-color:black;
         }

    .box2 > div{     
        margin-left: -90px;
        margin-right: 145px;
       
    }
        
        .topper > div img{
            height: 120px;
            width: 82px;
        }

    
    .cont{
       
        grid-gap: 0%;
        justify-content: center;
        width: 100%;
        grid-auto-rows: (100px, auto);
        grid-template-columns:1fr;
        grid-template-areas:
        'box1'
        'box2'
        'box3 '
        'box4'
        'box5'
    }

    .box1{
        margin: 0%;
    }


    .onvd h3{
      margin-left: 80px;
    }

    .onvd{
      margin-left: 180px;
      margin-right: 180px;
      padding-left: 15px;
    }

    #defin{
     font-size: 17px;
      margin-left: 1px;
      margin-right: 15px;
      padding-left: 15px;
    }

    .intitle{
        font-size: 11px;
    }

    .intype1{
        font-size: 14px;
        margin-left: 80px;
        bottom: 47px;
        height: 22px;
    }

    .intype{
        font-size: 11px;
        bottom: 47px;
        height: 20px;
    } 
  

    ul{
        width: 100%;
       
    }

    ul li{
        text-align: center;
    }
   

    video{
        max-width: 100%;
    }

   
   
  .indisplay > div{
       
      display: none;
  }


    .displaypic{
        height: 110px;
        width: 100%;
    }

    .news > div{
       
        background-color: black;
    }
  

    .news > div img{
        padding: 3px;
      margin-left: 300px;
    }

    .box4 > div video{
        padding: 20px;
      margin-left: 220px;
      width: 600px;
    }

    .box4 img{
        width: 500px;
        height: 200px;
    }

    .box4 .newspic{
        width: 500px;
        height: 400px;
    }

  
  .box3 h4{
      margin-left: 203px;
      font-size: 25px;
  }

  .box3 p{
     font-size: 20px;
    margin-left: 185px;
    margin-right: 400px;
    padding-left: 15px;
  }

  
  .box5 h3{
     margin-left: 670px;
     font-size: 18px;
  } 

  .box5 p{
      font-size: 28px;
  }

  .tit{
      font-size: 20px;
      padding: 7px;
    margin-left: 208px;
    margin-right: 193px;
  }


  
  #lstp{
      font-size: 20px;
      margin-left: 185px;
      margin-right: 200px;
      padding-left: 15px;

  }

  #uptp{
      font-size: 20px;
      margin-left: 180px;
      margin-right: 220px;
      padding-left: 15px;

  }

  #dstp{
      color: white;
      font-size: 20px;
      margin-left: 170px;
      margin-right: 200px;
      padding-left: 20px;

  }

  .clbm{
    margin-left: 90px;
    margin-right: 90px;
      font-size: 14px;
  }

  .box4 h3{
      font-size: 24px;
      margin-left: 200px;
  }


  #adv{
      margin-left: 100px;
  }
 
  #comp{
      margin-left: 350px;
      margin-right: 350px;
      height: 140px;
      width: 410px;
  }

  
  
  #yourceleb{
      margin-left: 200px;
     margin-right: 200px;
     font-size: 23px;
  }

  .box4 button{
      font-size: 17px;
      margin-left: 400px;
     margin-right: 400px;
  }

  .box1{
      height: 100px;
  }

  .nav{
    display: block;
    height: 70px;
}



.item{
  margin-left: 200px;
  margin-right: 300px;
  text-align: left;
  width: 150px;
  font-size: 20px;
}

.nav .item a{
    font-size: 18px;
}


.item ul li{
  margin-left: -15px;
  font-size: 20px;
  width: 150px;
}


.nav input { 
    border-radius: 5px;
    height: 0.3px;
    width: 300px;
    padding-right: 20px;
}

.nav .form-control{
    margin-left: 72%;
    font-size: 20px;
    height: 45px;
    top: -20px;
}

.nav .fa-search{
    font-size: 30px;
    padding: 3.5px;
    left: 500px;
    top: 20px;
}

#nav-icon{
    font-size: 50px;
    margin-left: -190px;
    top: -110px;
    color: aliceblue;
}

.nav img{
    margin-right: -350px;
    width: 80px;
    height: 50px;
    top: -50px;
}

.heading{     
   margin-left: 180px;
    margin-right: 175px;
    display: none;
    font-size: 13px;
}


.heading > div{
    text-align: center;
    display: none;
}

.heading > div a{
  padding: 3px;
 display: none;
}

.heading img{
    display: none;
}

.active{
    display: none;
}

.about .geners .services .countries .home{
    display: none;
}

.cont2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}

.cont2 hr{
    width: 20%;
    margin-left: 450px;
}

.linkson{
    margin-left: 200px;
    font-size: 25px;
}

.social a{
    margin: 40px;  
}

#myBtn{
    display: block;
    padding: 5px;
    font-size: 20px;
}

}





@media(max-width: 414px){

    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
    }
    
    .cont{
        width: 100% !important;
        position: static;
        overflow: hidden;
    }

    p{
        font-size: 5px;
    }

    .tap{
        margin-left:auto;
        margin-right:auto;
        width:100%;
     
    }

    img{
        max-width: 100%;
    }

    .wrapper{
        grid-auto-rows: 180px;
        margin-left: 380px;
        margin-right: 365px;
       }

       .wrapper > div{
          background-color: lightseagreen;
       } 
    
       
        .wrapper img{
            height: 130px;
            width: 100%;
          
        }

    .box2{
            padding-left: 295px;
            padding-right: 140px;
             height: 100px;
             background-color:black;
         }

    .box2 > div{     
        margin-left: 195px;
        margin-right: 120px;
        padding-left: 10px;
    }
        
        .topper > div img{
            height: 90px;
            width: 73px;
        }

    
    .cont{
       
        grid-gap: 0%;
        justify-content: center;
        width: 100%;
        grid-auto-rows: (100px, auto);
        grid-template-columns:1fr;
        grid-template-areas:
        'box1'
        'box2'
        'box3 '
        'box4'
        'box5'
    }

    .box1{
        margin: 0%;
    }


    .heading{
        display: none;
    }
   
    .onvd h3{
      margin-left: 80px;
    }

    .onvd{
      margin-left: 180px;
      margin-right: 180px;
      padding-left: 15px;
    }

    #defin{
     font-size: 17px;
      margin-left: 1px;
      margin-right: 15px;
      padding-left: 15px;
    }

    .intitle{
        font-size: 11px;
    }

    .intype1{
        font-size: 14px;
        display: none;
    }

    .intype{
        font-size: 11px;
        display: none;
    } 
  

    ul{
        width: 100%;
       
    }

    ul li{
        text-align: center;
    }
   

    video{
        max-width: 100%;
    }

   
   
  .indisplay > div{
       
      display: none;
  }


    .displaypic{
        height: 110px;
        width: 100%;
    }

    
    .news > div{
        background-color: black;
    }
  

    .box4 > div img{
        padding: 3px;
      margin-left: 530px;
    }

    .box4 > div video{
        padding: 3px;
      margin-left: 530px;
      width: 325px;
    }

    .box4 img{
        width: 300px;
    }

    .news .newspic{
        width: 325px;
        height: 250px;
    }


    .box4 img{
        width: 300px;
        height: 100px;
    }

    .newspic{
        width: 100%;
        height: 60%;
    }

  
  .box3 h4{
      margin-left: 515px;
      font-size: 25px;
  }

  .box3 p{
     font-size: 20px;
    margin-left: 495px;
    margin-right: 510px;
    padding-left: 15px;
  }

  
  .box5 h3{
     margin-left: 670px;
     font-size: 18px;
  } 

  .box5 p{
      font-size: 20px;
  }

  .contacts h5{
      font-size: 20px;
  }

  .tit{
      font-size: 20px;
      padding: 7px;
    margin-left: 510px;
    margin-right: 510px;
  }


  
  #lstp{
      font-size: 14px;
      margin-left: 495px;
      margin-right: 510px;
      padding-left: 15px;

  }

  #uptp{
      font-size: 16px;
      margin-left: 150px;
      margin-right: 220px;
      padding-left: 15px;

  }

  #dstp{
      color: white;
      font-size: 16px;
      margin-left: 480px;
      margin-right: 510px;
      padding-left: 20px;

  }

  .clbm{
    margin-left: 90px;
    margin-right: 90px;
      font-size: 14px;
  }

  .box4 h3{
      font-size: 20px;
      margin-left: 640px;
  }


  #adv{
      margin-left: 100px;
  }
 
  #comp{
      margin-left: 535px;
      margin-right: 410px;
      height: 140px;
      width: 320px;
  }

  
  
  #yourceleb{
      margin-left: 570px;
     margin-right: 570px;
     font-size: 17px;
  }

  .box4 button{
      margin-left: 610px;
     margin-right: 610px;
  }

  .box1{
      height: 50px;
  }

  .nav{
    display: block;
    height: 40px;
}


.heading{
    position: absolute;
    display: none;
    margin-left: 800px;
}

.heading img{
    display: none;
}

.heading > div{
    display: none;
    text-align: center;
  
}

.heading > div a{
  padding: 5px;
  float: left;
  font-size: 13px;
}

.active{
    display: block;
}

.about .geners .services .countries .home{
    display: none;
}

.multi-level{
    margin-top: 7px;
}

.item{
    width: 100px;
   margin-left: 72.3%;
   margin-right: 680px;
    text-align: left;
    font-size: 18px;
  }

.item ul{
    margin-left: 73.5px;
    height: 20px;
    font-size: 20px;
    width: 70px;
}

.item ul li{
    width: 80px;
}

.nav input { 
    border-radius: 5px;
    height: 0.3px;
    width: 195px;
    padding-right: 20px;
}

.nav .form-control{
    margin-left: 84%;
    font-size: 11px;
    height: 20px;
    margin-top: 10px;
}

.nav .fa-search{
    font-size: 17px;
    padding: 3.5px;
    left: 283.5px;
    top: 14.5px;
}

#nav-icon{
    font-size: 32px;
    margin-left: 0px;
    top: -75px;
  }
  
  .nav img{
    margin-right: -80px;
    width: 70px;
    height: 40px;
    top: -35px;
  }

.cont2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}

.cont2 hr{
    width: 15%;
    margin-left: 600px;
}

.linkson{
    padding: 0;
    font-size: 25px;
    margin-left: 525px;
}

.social a{
    font-size: 38px;
    margin: 15px;  
}

#myBtn{
    display: block;
    padding: 5px;
    font-size: 15px;
}

}




@media(max-width: 411px){

    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
    }
    
    .cont{
        width: 100% !important;
        position: static;
        overflow: hidden;
    }

    p{
        font-size: 5px;
    }

    .tap{
        margin-left:auto;
        margin-right:auto;
        width:100%;
     
    }

    img{
        max-width: 100%;
    }

    .wrapper{
        grid-auto-rows: 180px;
        margin-left: 380px;
        margin-right: 368px;
       }

       .wrapper > div{
          background-color: lightseagreen;
       } 
    
       
        .wrapper img{
            height: 130px;
            width: 100%;
          
        }

    .box2{
            padding-left: 295px;
            padding-right: 140px;
             height: 100px;
             background-color:black;
         }

    .box2 > div{     
        margin-left: 195px;
        margin-right: 120px;
        padding-left: 10px;
    }
        
        .topper > div img{
            height: 90px;
            width: 73px;
        }

    
    .cont{
       
        grid-gap: 0%;
        justify-content: center;
        width: 100%;
        grid-auto-rows: (100px, auto);
        grid-template-columns:1fr;
        grid-template-areas:
        'box1'
        'box2'
        'box3 '
        'box4'
        'box5'
    }

    .box1{
        margin: 0%;
    }


    .heading{
        display: none;
    }
   
    .onvd h3{
      margin-left: 80px;
    }

    .onvd{
      margin-left: 180px;
      margin-right: 180px;
      padding-left: 15px;
    }

    #defin{
     font-size: 17px;
      margin-left: 1px;
      margin-right: 15px;
      padding-left: 15px;
    }

    .intitle{
        font-size: 11px;
    }

    .intype1{
        font-size: 14px;
        display: none;
    }

    .intype{
        font-size: 11px;
        display: none;
    } 
  

    ul{
        width: 100%;
       
    }

    ul li{
        text-align: center;
    }
   

    video{
        max-width: 100%;
    }

   
   
  .indisplay > div{
       
      display: none;
  }


    .displaypic{
        height: 110px;
        width: 100%;
    }

    .news > div{
        background-color: black;
    }
  

    .box4 > div img{
        padding: 3px;
      margin-left: 530px;
    }

    .box4 > div video{
        padding: 3px;
      margin-left: 530px;
      width: 325px;
      height: 300px;
    }

    .box4 img{
        width: 300px;
    }

    .news .newspic{
        width: 325px;
        height: 250px;
    }

  
  .box3 h4{
      margin-left: 515px;
      font-size: 23px;
  }

  .box3 p{
     font-size: 20px;
    margin-left: 497px;
    margin-right: 510px;
    padding-left: 15px;
    font-size: 18px;
  }

  

  .box5 p{
      font-size: 20px;
  }

  .tit{
      font-size: 20px;
      padding: 7px;
    margin-left: 509px;
    margin-right: 510px;
  }


  
  #lstp{
      font-size: 14px;
      margin-left: 505px;
      margin-right: 510px;
      padding-left: 15px;

  }

  #uptp{
      font-size: 16px;
      margin-left: 155px;
      margin-right: 220px;
      padding-left: 15px;

  }

  #dstp{
      color: white;
      font-size: 16px;
      margin-left: 485px;
      margin-right: 510px;
      padding-left: 20px;

  }

  .clbm{
    margin-left: 90px;
    margin-right: 90px;
      font-size: 14px;
  }

  .box4 h3{
      font-size: 18px;
      margin-left: 640px;
  }


  #adv{
      margin-left: 100px;
  }
 
  #comp{
      margin-left: 535px;
      margin-right: 410px;
      height: 140px;
  }

  
  
  #yourceleb{
      margin-left: 570px;
     margin-right: 570px;
     font-size: 17px;
  }

  .box4 button{
      margin-left: 600px;
     margin-right: 600px;
  }

  .nav{
    display: block;
}


.heading{
    position: absolute;
    display: none;
    margin-left: 800px;
}

.heading img{
    display: none;
}

.heading > div{
    display: none;
    text-align: center;
  
}

.heading > div a{
  padding: 5px;
  float: left;
  font-size: 13px;
}

.active{
    display: block;
}

.about .geners .services .countries .home{
    display: none;
}

.multi-level{
    margin-top: 8px;
}

.item{
    width: 100px;
   margin-left: 72.3%;
   margin-right: 680px;
    text-align: left;
    font-size: 18px;
  }

.item ul{
    margin-left: 73.5px;
    height: 20px;
    font-size: 16px;
    width: 70px;
}

.item a{
    font-size: 16px;
}



.nav input { 
    border-radius: 5px;
    height: 0.3px;
    width: 195px;
    padding-right: 20px;
}

.nav .form-control{
    margin-left: 84%;
    font-size: 11px;
    height: 20px;
    margin-top: 10px;
}

.nav .fa-search{
    padding: 3.5px;
    left: 283.5px;
    top: 14.5px;
}

.cont2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}

.cont2 hr{
    width: 12%;
    margin-left: 620px;
}

.contacts h5{
    font-size: 20px;
}

.linkson{
    padding: 0;
    font-size: 25px;
    margin-left: 520px;
}

.social a{
    margin: 20px;  
    font-size: 30px;
}

#myBtn{
    display: block;
    padding: 5px;
    font-size: 15px;
}

}


@media(max-width: 384px){

    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
    }
    
    .cont{
        width: 100%;
        position: static;
        overflow: hidden;
    }

    p{
        font-size: 5px;
    }

    .tap{
        margin-left:auto;
        margin-right:auto;
        width:100%;
     
    }

    img{
        max-width: 100%;
    }

    .wrapper{
        grid-auto-rows: 150px;
       
        margin-left: 265px;
        margin-right: 0px;
       }

       .wrapper > div{
          background-color: lightseagreen;
       } 
    
       
        .wrapper img{
            height: 110px;
            width: 100%;
          
        }

    .box2{
            padding-left: 194px;
            padding-right: 90px;
             height: 100px;
             background-color: black;
         }

    .box2 > div{
        margin-left: 48px;
        margin-right: 180px;
        padding-left: 10px;
    }
        
        .topper > div img{
            height: 100px;
            width: 66px;
        }

    
    .cont{
       
        grid-gap: 0%;
        justify-content: center;
        width: 100%;
        grid-auto-rows: (100px, auto);
        grid-template-columns:1fr;
        grid-template-areas:
        'box1'
        'box2'
        'box3 '
        'box4'
        'box5'
    }

    .box1{
        margin: 0%;
    }


    .heading{
        display: none;
    }
   
    .onvd h3{
      margin-left: 80px;
    }

    .onvd{
      margin-left: 180px;
      margin-right: 180px;
      padding-left: 15px;
    }

    #defin{
     font-size: 17px;
      margin-left: 1px;
      margin-right: 15px;
      padding-left: 15px;
    }

    .intitle{
        font-size: 12px;
    }

    .intype1{
        font-size: 11px;
        display: none;
    }

    .intype{
        font-size: 11px;
        display: none;
    } 
  

    ul{
        width: 100%;
       
    }

    ul li{
        text-align: center;
    }
    

    video{
        max-width: 100%;
    }

   
  .indisplay > div{
       
      display: none;
  }


    .displaypic{
        height: 100px;
        width: 100%;
    }

    .news > div{
       
        background-color: black;
    }
  
    .news > div video{
        padding: 3px;
      margin-left: 280px;
      width: 300px;
    }

    .news > div img{
        padding: 3px;
      margin-left: 280px;
    }

    .news .newspic{
        width: 300px;
    }


    .below {
        margin-left: -250px;
    }

    .below #yourceleb{
        margin-left: 550px;
    }

  /* .box3{
    margin-left: -300px;
    margin-right: -350px;
      
  } */


  .box3 h4{
      margin-left: 260px;
  }

  .box3 p{
     
    margin-left: 245px;
    margin-right: 250px;
      padding-left: 15px;
  }

  
  .box5 h3{
     margin-left: 400px;
     font-size: 18px;
  } 

  .box5 p{
      font-size: 19px;
  }

  .tit{
    font-size: 15px;
    padding: 5px;
    margin-left: 258px;
    margin-right: 258px;
  }


  
  #lstp{
      font-size: 14px;
      margin-left: 245px;
      margin-right: 260px;
      padding-left: 15px;

  }

  #uptp{
      font-size: 16px;
      margin-left: 160px;
      margin-right: 220px;
      padding-left: 15px;

  }

  #dstp{
      color: white;
      font-size: 16px;
      margin-left: 235px;
      margin-right: 250px;
      padding-left: 15px;

  }

  .clbm{
    margin-left: 90px;
    margin-right: 90px;
      font-size: 15px;
  }

  .box4 h3{
      margin-left: 380px;
  }


  #adv{
      margin-left: 100px;
  }

  #comp{
      margin-left: 270px;
      margin-right: 380px;
  }

  
  
  #yourceleb{
      margin-left: 300px;
     margin-right: 300px;
     font-size: 14px;
  }

  .box4 button{
      margin-left: 380px;
     margin-right: 380px;
    
  }

  .nav img{
    margin-left: 125%;
   
}

#nav-icon{
    right: 130px;
   
}

.nav .form-control{
   margin-left: 75%;
   width: 180px;
}



.nav .fa-search{
    top: 13.2px;
    position: absolute;
  left: 257px;
  font-size: 15px;
  color: green;
  padding: 5px;
}

.item{
    width: 100px;
   margin-left: 58.7%;
   margin-right: 680px;
    text-align: left;
    font-size: 16px;
  }

.item ul{
    margin-left: 46px;
    height: 20px;
    font-size: 16px;
    width: 70px;
}

  .heading{
      position: absolute;
      display: none;
      margin-left: 800px;
  }

  .heading img{
      display: none;
  }

  .heading > div{
      display: block;
      text-align: center;
    
  }

  .heading > div a{
    padding: 5px;
    float: left;
    font-size: 13px;
}

  .active{
      display: block;
  }

  .about .geners .services .countries .home{
      display: none;
  }



.nav ul li{
    margin-left: 14px;
    display: block;
    font-size: 15px;
 
}


.cont2 hr{
    width: 20%;
    margin-left: 350px;
}

.linkson{
    padding: 0;
    font-size: 25px;
    margin-left: 270px;

}

.social a{
    font-size: 30px;
    margin: 17px;
}

  /* .menu{
     margin-right: 200px;
  }

  ul{
    position: absolute;
}

ul li{
    width: 5px;
}

ul li a{
     position: absolute;
}

li:hover{
  padding-right: 130px;
}

.heading .container{
    display: none;
} */
}


@media(max-width: 375px){

    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
    }
    
    .cont{
        width: 100%;
        position: static;
        overflow: hidden;
    }

    p{
        font-size: 5px;
    }

    .tap{
        margin-left:auto;
        margin-right:auto;
        width:100%;
     
    }

    img{
        max-width: 100%;
    }

    .wrapper{
        grid-auto-rows: 150px;
       
        margin-left: 267px;
        margin-right: 5px;
       }

       .wrapper > div{
          background-color: lightseagreen;
       } 
    
       
        .wrapper img{
            height: 110px;
            width: 100%;
          
        }

    .box2{
            padding-left: 194px;
            padding-right: 90px;
             height: 100px;
             background-color: black;
         }

    .box2 > div{
        margin-left: 50px;
        margin-right: 130px;
        padding-left: 10px;
    }
        
        .topper > div img{
            height: 90px;
            width: 65px;
        }

    
    .cont{
       
        grid-gap: 0%;
        justify-content: center;
        width: 100%;
        grid-auto-rows: (100px, auto);
        grid-template-columns:1fr;
        grid-template-areas:
        'box1'
        'box2'
        'box3 '
        'box4'
        'box5'
    }

    .box1{
        margin: 0%;
    }


    .heading{
        display: none;
    }
   
    .onvd h3{
      margin-left: 80px;
    }

    .onvd{
      margin-left: 180px;
      margin-right: 180px;
      padding-left: 15px;
    }

    #defin{
     font-size: 17px;
      margin-left: 1px;
      margin-right: 15px;
      padding-left: 15px;
    }

    .intitle{
        font-size: 11px;
    }

    .intype1{
        font-size: 11px;
        display: none;
    }

    .intype{
        font-size: 11px;
        display: none;
    } 
  

    ul{
        width: 100%;
       
    }

    ul li{
        text-align: center;
    }
    

    video{
        max-width: 100%;
    }

   
  .indisplay > div{
       
      display: none;
  }


    .displaypic{
        height: 100px;
        width: 100%;
    }

    .news > div{
       
        background-color: black;
    }
  
    .news > div video{
        padding: 3px;
      margin-left: 280px;
    }

    .news > div img{
        padding: 3px;
      margin-left: 280px;
    }


    .below {
        margin-left: -255px;
    }

    .below #yourceleb{
        margin-left: 550px;
    }

 

  .box3 h4{
      margin-left: 265px;
  }

  .box3 p{
     
    margin-left: 248px;
    margin-right: 270px;
      padding-left: 15px;
  }

  
  .box5 h3{
     margin-left: 400px;
     font-size: 18px;
  } 

  .box5 p{
      font-size: 20px;
  }

  .tit{
    font-size: 15px;
    padding: 5px;
    margin-left: 260px;
    margin-right: 261px;
  }


  
  #lstp{
      font-size: 14px;
      margin-left: 250px;
      margin-right: 280px;
      padding-left: 15px;

  }

  #uptp{
      font-size: 16px;
      margin-left: 150px;
      margin-right: 220px;
      padding-left: 15px;

  }

  #dstp{
      color: white;
      font-size: 16px;
      margin-left: 240px;
      margin-right: 270px;
      padding-left: 15px;

  }

  .clbm{
    margin-left: 90px;
    margin-right: 90px;
      font-size: 15px;
  }

  .box4 h3{
      margin-left: 380px;
  }


  #adv{
      margin-left: 100px;
  }

  #comp{
      margin-left: 270px;
      margin-right: 380px;
  }

  
  
  #yourceleb{
      margin-left: 300px;
     margin-right: 300px;
     font-size: 16px;
  }

  .box4 button{
      margin-left: 370px;
     margin-right: 370px;
    
  }

  .heading{
      position: absolute;
      display: none;
      margin-left: 800px;
  }

  .heading img{
      display: none;
  }

  .heading > div{
      display: block;
      text-align: center;
  }

  .heading > div a{
    padding: 5px;
    float: left;
    font-size: 13px;
}

  .active{
      display: block;
  }

  .about .geners .services .countries .home{
      display: none;
  }


  .nav img{
    margin-left: 123%;
   
}

#nav-icon{
    right: 125px;
   
}

.nav input{
    width: 170px;
}

.nav .form-control{
    margin-left: 76%;
    font-size: 11px;
    height: 20px;
    margin-top: 10px;
    width: 170px;
}


.nav .fa-search{
    top: 13.2px;
    position: absolute;
  left: 248px;
  font-size: 15px;
  color: green;
  padding: 5px;
}

.multi-level{
    margin-top: 8px;
}


.item{
    margin-left: 64%;
    margin-right: 700px;
     text-align: left;
     width: 110px;
   }
 
   .item{
    width: 100px;
   margin-left: 59.3%;
   margin-right: 680px;
    text-align: left;
    font-size: 18px;
  }

.item ul{
    margin-left: 46px;
    height: 20px;
    font-size: 20px;
    width: 70px;
}

  
.contacts h5{
    font-size: 20px;
}

.cont2 hr{
    width: 20%;
    margin-left: 350px;
}

.linkson{
    padding: 0;
    font-size: 25px;
    margin-left: 275px;

}

.social a{
    margin: 15px;
}


#myBtn{
    padding: 3px;
    font-size: 15px;
}
  /* .menu{
     margin-right: 200px;
  }

  ul{
    position: absolute;
}

ul li{
    width: 5px;
}

ul li a{
     position: absolute;
}

li:hover{
  padding-right: 130px;
}

.heading .container{
    display: none;
} */
}

@media(max-width: 360px){

    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
    }
    
    .cont{
        width: 100%;
        position: static;
        overflow: hidden;
    }

    p{
        font-size: 5px;
    }

    .tap{
        margin-left:auto;
        margin-right:auto;
        width:100%;
     
    }

    img{
        max-width: 100%;
    }

    .wrapper{
        grid-auto-rows: 150px;
        margin-left: 274px;
        margin-right: 20px;
       }

       .wrapper > div{
          background-color: lightseagreen;
       } 
    
       
        .wrapper img{
            height: 110px;
            width: 100%;
          
        }

    .box2{
            padding-left: 194px;
            padding-right: 90px;
             height: 100px;
             background-color: black;
         }

    .box2 > div{
        margin-left: 56px;
        margin-right: 170px;
        padding-left: 10px;
    }
        
        .topper > div img{
            height: 90px;
            width: 63px;
        }

    
    .cont{
       
        grid-gap: 0%;
        justify-content: center;
        width: 100%;
        grid-auto-rows: (100px, auto);
        grid-template-columns:1fr;
        grid-template-areas:
        'box1'
        'box2'
        'box3 '
        'box4'
        'box5'
    }

    .box1{
        margin: 0%;
    }


    .heading{
        display: none;
    }
   
    .onvd h3{
      margin-left: 80px;
    }

    .onvd{
      margin-left: 180px;
      margin-right: 180px;
      padding-left: 15px;
    }

    #defin{
     font-size: 17px;
      margin-left: 1px;
      margin-right: 15px;
      padding-left: 15px;
    }

    .intitle{
        font-size: 11px;
    }

    .intype1{
        font-size: 11px;
        display: none;
    }

    .intype{
        font-size: 11px;
        display: none;
    } 
  

    ul{
        width: 100%;
       
    }

    ul li{
        text-align: center;
    }
    

    video{
        max-width: 100%;
    }

   
  .indisplay > div{
       
      display: none;
  }


    .displaypic{
        height: 100px;
        width: 100%;
    }

    .news > div{
       
        background-color: black;
    }
  
    .news > div video{
        padding: 3px;
      margin-left: 280px;
    }

    .news > div img{
        padding: 3px;
      margin-left: 280px;
    }

    
  /* .box3{
    margin-left: -300px;
    margin-right: -350px;
      
  } */


  .box3 h4{
      margin-left: 285px;
  }

  .box3 p{
     
    margin-left: 265px;
    margin-right: 270px;
      padding-left: 15px;
  }

  
  .box5 h3{
     margin-left: 400px;
     font-size: 18px;
  } 

  .box5 p{
      font-size: 20px;
  }

  .tit{
    font-size: 15px;
    padding: 5px;
    margin-left: 268px;
    margin-right: 268px;
  }


  
  #lstp{
      font-size: 14px;
      margin-left: 260px;
      margin-right: 280px;
      padding-left: 15px;

  }

  #uptp{
      font-size: 16px;
      margin-left: 160px;
      margin-right: 220px;
      padding-left: 15px;

  }

  #dstp{
      color: white;
      font-size: 16px;
      margin-left: 250px;
      margin-right: 270px;
      padding-left: 15px;

  }

  .clbm{
    margin-left: 90px;
    margin-right: 90px;
      font-size: 15px;
  }

  .box4 h3{
      margin-left: 380px;
  }


  #adv{
      margin-left: 100px;
  }

  #comp{
      margin-left: 270px;
      margin-right: 380px;
  }

  
  
  #yourceleb{
      margin-left: 300px;
     margin-right: 300px;
     font-size: 14px;
  }

  .box4 button{
      margin-left: 370px;
     margin-right: 370px;
    
  }

  .heading{
      position: absolute;
      display: none;
      margin-left: 800px;
  }

  .heading img{
      display: none;
  }

  .heading > div{
      display: block;
      text-align: center;
  }

  .heading > div a{
    padding: 5px;
    float: left;
    font-size: 13px;
}

  .active{
      display: block;
  }

  .about .geners .services .countries .home{
      display: none;
  }


  .nav img{
    margin-left: 123%;
   
}

#nav-icon{
    right: 125px;
   
}

.nav input{
    width: 170px;
}

.nav .form-control{
    margin-left: 76%;
    font-size: 11px;
    height: 20px;
    margin-top: 10px;
}


.nav .fa-search{
    top: 14px;
    position: absolute;
  left: 243px;
  font-size: 15px;
  color: green;
  padding: 5px;
}


.item{
    width: 100px;
   margin-left: 61%;
   margin-right: 680px;
    text-align: left;
  }

  .item ul{
    margin-left: 45.5px;
    height: 20px;
    font-size: 20px;
    width: 70px;
  }

  
 
  


  .below {
    margin-left: -230px;
}

.box4 .below > video{
    
    width: 280px;
}

.cont2 hr{
    width: 20%;
    margin-left: 350px;
}

.linkson{
    padding: 0;
    font-size: 25px;
    margin-left: 275px;

}

.social a{
    margin: 15px;
}


#myBtn{
    padding: 3px;
    font-size: 15px;
}
  /* .menu{
     margin-right: 200px;
  }

  ul{
    position: absolute;
}

ul li{
    width: 5px;
}

ul li a{
     position: absolute;
}

li:hover{
  padding-right: 130px;
}

.heading .container{
    display: none;
} */
}


@media(max-width: 320px){

    body{
        margin: 0px;
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
    }
    
    .cont{
        width: 100%;
        position: static;
        overflow: hidden;
    }

    p{
        font-size: 5px;
    }

    .tap{
        margin-left:auto;
        margin-right:auto;
        width:100%;
     
    }

    img{
        max-width: 100%;
    }

    .wrapper{
        grid-auto-rows: 140px;
       
        margin-left: 295px;
        margin-right: 67px;
       }

       .wrapper > div{
          background-color: lightseagreen;
       } 
    
       
        .wrapper img{
            height: 100px;
            width: 100%;
          
        }

    .box2{
            padding-left: 194px;
            padding-right: 90px;
             height: 100px;
             background-color: black;
         }

    .box2 > div{
        margin-left: 82px;
        margin-right: 10px;
        padding-left: 10px;
    }
        
        .topper > div img{
            height: 90px;
            width: 69px;
        }

    
    .cont{
       
        grid-gap: 0%;
        justify-content: center;
        width: 100%;
        grid-auto-rows: (100px, auto);
        grid-template-columns:1fr;
        grid-template-areas:
        'box1'
        'box2'
        'box3 '
        'box4'
        'box5'
    }

    .box1{
        margin: 0%;
    }


    .heading{
        display: none;
    }
   
    .onvd h3{
      margin-left: 80px;
    }

    .onvd{
      margin-left: 180px;
      margin-right: 180px;
      padding-left: 15px;
    }

    #defin{
     font-size: 17px;
      margin-left: 1px;
      margin-right: 15px;
      padding-left: 15px;
    }

    .intitle{
        font-size: 11px;
    }

    .intype1{
        font-size: 11px;
        display: none;
    }

    .intype{
        font-size: 11px;
        display: none;
    } 
  

    ul{
        width: 100%;
       
    }

    ul li{
        text-align: center;
    }
    

    video{
        max-width: 100%;
    }

   
  .indisplay > div{
       
      display: none;
  }


    .displaypic{
        height: 100px;
        width: 100%;
    }

    .news > div{
       
        background-color: black;
    }
  
    .news > div video{
        padding: 3px;
      margin-left: 285px;
      width: 280px;
      height: 280px;
    }

    .news > div img{
        padding: 3px;
      margin-left: 285px;
      width: 280px;
    }

    .news .newspic{
        width: 280px;
    }


    
  /* .box3{
    margin-left: -300px;
    margin-right: -350px;
      
  } */


  .box3 h4{
      margin-left: 290px;
      font-size: 20px;
  }

  .box3 p{
     font-size: 17px;
    margin-left: 271px;
    margin-right: 290px;
      padding-left: 15px;
  }

  
  .box5 h3{
     margin-left: 400px;
     font-size: 18px;
  } 

  .box5 p{
      font-size: 18px;
  }

  .tit{
    font-size: 15px;
    padding: 5px;
    margin-left: 288.5px;
    margin-right: 288.5px;
  }


  
  #lstp{
      font-size: 15px;
      margin-left: 275px;
      margin-right: 285px;
      padding-left: 15px;

  }

  #uptp{
      font-size: 16px;
      margin-left: 190px;
      margin-right: 220px;
      padding-left: 15px;

  }

  #dstp{
      color: white;
      font-size: 16px;
      margin-left: 265px;
      margin-right: 275px;
      padding-left: 15px;

  }

  .clbm{
    margin-left: 90px;
    margin-right: 90px;
      font-size: 15px;
  }

  .box4 h3{
      margin-left: 380px;
  }


  #adv{
      margin-left: 100px;
  }

  #comp{
      margin-left: 290px;
      margin-right: 380px;
      width: 280px;
  }

  
  
  #yourceleb{
      margin-left: 300px;
     margin-right: 300px;
     font-size: 14px;
  }

  .box4 button{
      margin-left: 370px;
     margin-right: 370px;
    
  }

  .heading{
      position: absolute;
      display: none;
      margin-left: 800px;
  }

  .heading img{
      display: none;
  }

  .heading > div{
      display: block;
      text-align: center;
  }

  .heading > div a{
    padding: 5px;
    float: left;
    font-size: 13px;
}

  .active{
      display: block;
  }

  .about .geners .services .countries .home{
      display: none;
  }


  .nav img{
    margin-left: 123%;
    width: 60px;
   
}

#nav-icon{
    right: 118px;
   
}

.nav input{
    width: 170px;
}

.nav .form-control{
    margin-left: 76%;
    font-size: 11px;
    height: 20px;
    margin-top: 10px;
}


.nav .fa-search{
    top: 13.2px;
    position: absolute;
  left: 223px;
  font-size: 15px;
  color: green;
  padding: 5px;
}


.item{
   margin-left: 66%;
   margin-right: 680px;
    text-align: left;
    font-size: 14px;
  }



.nav .item a{
    font-size: 14px;
}

.contacts h5{
    font-size: 18px;
}

.cont2 hr{
    width: 15%;
    margin-left: 370px;
}

.linkson{
    padding: 0;
    font-size: 25px;
    margin-left: 290px;

}

.social a{
    margin: 12px;
}


#myBtn{
    padding: 3px;
    font-size: 15px;
}
  /* .menu{
     margin-right: 200px;
  }

  ul{
    position: absolute;
}

ul li{
    width: 5px;
}

ul li a{
     position: absolute;
}

li:hover{
  padding-right: 130px;
}

.heading .container{
    display: none;
} */
}